{% extends "base.html" %}

{% block title %}add{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
	{% if message %}
	<div class="alert alert-danger" style="color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc;">
        <p><h5><i class="fa fa-warning "></i> {{ message }}</p></h5>
    </div>
	{% endif %}
	<h4><a href="{% url 'note_list' user.username %}"><i class="fa fa-reply"></i></a></h4>
    <form method="post" action="/index/note/{{ user.username }}/">
        <br />
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" name="Post" class="btn btn-default" style="float: left;">Post</button>
	</form>
</div>
{% endblock %}
