{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
	{% if message %}
	<div class="alert alert-danger">
		<p style="color: black;">
	    	{{ message }}
	    </p>
	</div>
	{% endif %}
    <h4><a href="{% url 'note_list' user.username %}"><i class="fa fa-reply"></i></a></h4>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" name="save" class="btn btn-default" style="float: left;">Save</button>
    </form>
</div>

{% endblock %}
