{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Notes{% endblock %}

{% block content %}	
<br />
<div class="container">
    <div class="col-md-offset-3 col-md-6">
        <form id="login-form" class="form-horizontal">
            <span class="heading">Welcome to FreeNote</span>
            <a href="#"><i class="fa fa-paper-plane-o fa-5x" style="color: black;"></i></a>
            <br>
            <p><b>Start</b></p>
            <br>
        </form>
        <br>
    </div>
</div>

{% endblock %}