{% extends "base.html" %}

{% block title %}message{% endblock %}

{% block content %}

<div class="container">
    <div class="container">
        <div class="col-md-offset-3 col-md-6">
            <div class="alert alert-danger" style="color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc;">
                <h4><i class="fa fa-warning "></i> 
                    {% if message %}
                    {{ message }}
                    {% endif %}
                </h4><h6>如有问题，联系邮箱：eacentcheung@gmail.com</h6>
             </div>
        </div>
    </div>
</div>

{% endblock %}