{% extends 'base.html' %}

{% block title %}Note{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
	<h4><a href="{% url 'note_list' user.username %}"><i class="fa fa-reply"></i></a></h4>
		<div class="Card">
				<h3>{{ note.title }}</h3>
				发表时间： {{ note.pub_time|date:"Y-m-d H:i" }}
				<div style="float: right;">
					<h4>
					<a href=""><i class="fa fa-edit"></i></a>
					<a href=""><i class="fa fa-trash"></i></a>
					</h4>
				</div>
				<hr>
				{% autoescape off %}
					{{ note.content  }}
				{% endautoescape %}
		</div>
		<br>
		<br>
	</div>
</div>
{% endblock %}
